@import "../../app.scss";

.container {
  height: 100%;
  max-width: 1366px;
  margin: auto;

  .wrapper {
    height: 65%;
    padding: 10px;
    max-width: 1366px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;

    @include mobile {
      justify-content: center;
      height: 70%;
      
    }

    .img-container {
      @include mobile {
        padding-top: 10px;
      }

      img {
        height: 40vh;
        width: 40vh;
        border-radius: 50%;
        box-shadow: rgba(233, 233, 237, 0.462) 0px 50px 100px -50px,
          rgba(234, 232, 232, 0.3) 0px 30px 60px -100px,
          rgba(247, 251, 255, 0.147) 0px -2px 6px 50px inset;

        @include mobile {
          height: 25vh;
          width: 25vh;
        }
      }
    }
    .education-container {
      width: 300px;

      h2 {
        text-align: center;
        font-size: 50px;
        font-weight: 900;

        @include mobile {
          font-size: 36px;
        }
      }
      ul {
        padding-left: 50px;

        @include mobile {
          padding-left: 75px;
        }

        li {
          list-style: none;
          font-size: 20px;
          font-weight: 400;
          margin: 10px;

          @include mobile {
            // font-size: px;
            margin: 5px;
          }
        }
      }
    }

    .hobby-container {
      width: 400px;

      h2 {
        text-align: center;
        padding-bottom: 25px;
        font-size: 50px;
        font-weight: 900;

        @include mobile {
          font-size: 36px;
          padding-bottom: 15px;
        }
      }
      ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
        height: auto;

        li {
          list-style: none;
          background: rgba(229, 224, 224, 0.315);
          color: white;
          font-size: 20px;
          font-weight: 400;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
          padding: 10px 15px;
          border-radius: 6px;
          animation: bounce 0.5s infinite alternate;
        }
      }
    }
  }

  .skill-container {
    height: 35%;
    display: flex;
    align-items: center;
    justify-content: center;

    @include mobile {
      justify-content: center;
      height: 30%;
    }

    .skills {
      width: 800px;
      overflow: hidden;

      h1 {
        text-align: center;
        font-size: 60px;

        @include mobile {
          font-size: 36px;
        }
      }
      .line {
        height: 5px;
        width: 70%;
        margin: 0 auto;
        background: orange;
        border-radius: 3px;
      }
      .horizontal-scroll {
        width: 100%;
        white-space: nowrap;

        .icon-container {
          display: flex;
          gap: 20px;
          object-fit: cover;
          padding: 15px;
          animation: scrollAnimation 15s linear infinite;
          width: max-content;

          img {
            width: 70px;
            height: 70px;
            border-radius: 5px;
            // box-shadow: rgba(237, 234, 234, 0.25) 0px 25px 50px -12px;
          }
        }
      }
    }
  }
}

@keyframes bounce {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10px);
  }
}

@keyframes scrollAnimation {
  0% {
    transform: translateX(100vw);
  }
  100% {
    transform: translateX(-100vw);
  }
}
