@import "../../app.scss";

.contact {
  height: 100%;
  max-width: 78.125rem; // 1250px
  margin: auto;
  display: flex;
  align-items: center;
  // gap: 3.125rem;

  @include mobile {
    width: 100%;
    padding: 0.625rem; // 10px
    flex-direction: column;
  }

  .textContainer {
    // flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2.5rem; // 40px
    overflow: hidden;

    @include mobile {
      height: 45%;
      text-align: center;
      align-items: center;
    }

    h1 {
      font-size: 6.25rem; // 100px
      color: rgba(255, 0, 0, 0.879);
      margin-top: 0.3125rem; // 5px

      @include mobile {
        font-size: 1.875rem; // 30px
      }
    }

    span {
      font-weight: 300;
    }
  }

  .formContainer {
    flex: 1;
    position: relative;

    @include mobile {
      padding: 1.875rem; // 30px
      width: 100%;
    }

    .phoneSvg {
      stroke: orange;
      stroke-width: 0.125rem; // 2px
      position: absolute;
      margin: auto;
      z-index: -1;

      .svg {
        @include mobile {
          width: 70%;
          height: 80%;
          font-size: 0.125rem; // 2px
        }
      }

      @include mobile {
        bottom: 6.25rem; // 100px
        left: 5rem; // 80px
      }
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 1.25rem; // 20px

      input,
      textarea {
        padding: 1.25rem; // 20px
        background-color: transparent;
        border: 1px solid white;
        color: white;
        border-radius: 0.3125rem; // 5px

        @include mobile {
          padding: 0.625rem; // 10px
        }
      }

      button {
        padding: 1.25rem; // 20px
        font-size: 1.25rem; // 20px
        border: none;
        background-color: orange;
        cursor: pointer;
        font-weight: 500;

        @include mobile {
          padding: 0.625rem; // 10px
        }
      }

      button:hover {
        background-color: rgba(238, 164, 26, 0.892);
      }
    }
  }
}


